<% provide(:title, "Signin")%>

<h1 class="text-center">Bienvenido a Paycesa</h1>

<div class="offset-sm-3 col-sm-6">
		<%= form_for(:sessions, url: login_path) do |f| %>

			<%= f.label "Email:" %>
			<%= f.email_field "email", class: "form-control" %>
			<%= f.label "Password:" %>
			<%= f.password_field "password", class: "form-control" %>
			<br>
			<%= f.submit "Signin", class: "btn btn-primary"%>
		<% end %>

</div>
