<h1 class="text-center">Movimientos Inventario</h1>
<br><br>
<div class="row">
	<%= link_to "Agrega producto", new_inventario_path , class: "btn btn-outline-primary offset-sm-6 col-sm-2 "%>
	<%= link_to "Excel", inventario_path(format: "xls"), class: "btn btn-outline-primary offset-sm-1 col-sm-1" %>
</div>
<div class="col-sm-11">
	<table class="table table-striped " style="background-color: #b3e6ff" id="myTable">
		<input type="text" class="form-control  col-sm-4" id="myInput" onkeyup="myFunction()" placeholder="Buscar.." title="Type in a name">

		<thead>
			<tr>
				<th scope="col">UPC</th>
	      <th scope="col">Modelo</th>
	      <th scope="col">Descripción</th>
	      <th scope="col">Compra</th>
	      <th scope="col">Venta</th>
	      <th scope="col">Cantidad</th>
	      <th scope="col">Bodega</th>
	      <th scope="col">Update</th>
	      <th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<% if @inventarios.empty? %>
				<h3 class="text-center">No hay inventario</h3>
			<% else %>
				<% @inventarios.each do|item|%>
					<tr>
						<td scope="col"><%= item.upc %></td>
						<td scope="col"><%= item.modelo %></td>
						<td scope="col"><%= item.descripcion %></td>
						<td scope="col"><%= item.compra %></td>
						<td scope="col"><%= item.p_venta %></td>
						<td scope="col"><%= item.cantidad %></td>
						<td scope="col"><%= item.bodega %></td>
						<td scope="col"> <%= link_to "Update", edit_inventario_path(item), class: "btn btn-primary"%> </td>
						<td scope="col"> <%= link_to "Delete", inventario_path(item), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-primary" %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>


<script type="text/javascript">
	function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>