<h1 class="text-center">Detalles de su cotización</h1>
<h3>Tc: <%= @cotizacion.tc %></h3>
<h3>Cliente: <%= @cotizacion.cliente %></h3>
<h3>Tipo pago: <%= @cotizacion.pago %></h3>
<h3>Fecha: <%= @cotizacion.created_at %></h3>
<h3>Cantidad: <%= @cotizacion.cantidad %></h3>
<h3>Descuento: <%= @cotizacion.descuento %></h3>

<%= link_to "Generar pdf", cotizacion_path(@cotizacion ,format: "pdf"),  target: '_blank', class: "btn btn-outline-primary offset-sm-1 col-sm-1" %>