<h1 class="text-center">Llena los detalles de la cotización</h1>

	<% clientes = [] %>
	      <% Cliente.all.each { |item| clientes << [item.nombre, item.nombre]} %>
<%= form_for Cotizacion.last do |f|%>
		<%= f.label "# TC" %><br>	
	  <%= f.text_field "tc", value: Cotizacion.last.tc, class: "form-control", disabled: true , id: 'tc'%>

		 <br><br><br>
<div class="offset-sm-1 col-sm-10">  
  <%= f.label "Cliente" %><br>
  <%= f.select("cliente", clientes, {} ,{class: "form-control"}) %><br>  
  <%= f.label "Bodega" %><br>
  <%= f.select("bodega", [['Ramos Millan', 'ramos'], ['Texcoco', 'texcoco'], ['Veloz', 'veloz']], {} ,{class: "form-control"}) %><br>
  <%= f.label "Pago" %><br>
  <%= f.select("pago", [['Contado', 'contado'], ['Crédito', 'credito']], {} ,{class: "form-control"}) %><br>
  <%= f.label "Descuento" %><br>     
	<%= f.text_field "descuento", class: "form-control" %><br>
<%= f.submit "Aceptar", class: "btn btn-primary formulario" %><br></div>
<% end %>
<% if Cotizacion.last.status != nil%>
	<%= link_to "Generar pdf", cotizacion_path(Cotizacion.last ,format: "pdf"),  target: '_blank', class: "btn btn-outline-primary offset-sm-1 col-sm-1" %>
<% end %>