<div class="offset-sm-1 col-sm-10 form">
  <%= form_for @cliente, url: {action: "create"} do |f|%>
    <%= f.label "Nombre" %><br>	
    <%= f.text_field "nombre", type: "text", class: "form-control" %>
    <%= f.label "Teléfono" %><br>	
    <%= f.text_field "telefono", type: "text", class: "form-control" %>
    <%= f.label "Email" %><br>
    <%= f.text_field "email", type: "email", class: "form-control" %>
    <%= f.label "Dirección" %><br>
    <%= f.text_area "direccion", type: "text", class: "form-control" %>
    <%= f.label "Dirección de Entrega" %><br>	
    <%= f.text_area "direccion_entrega", type: "text", class: "form-control" %><br>
    <%= f.submit "Crear", class: "btn btn-primary" %>
  <% end %>
</div>