<div class="offset-sm-1 col-sm-10 form">
  <%= form_for @inventario, url: {action: "create"} do |f|%>
  	<%= f.label "Inventario" %><br>	
    <%= f.select("tipo", [['Artesanal', 'artesanal'], ['Industrial', 'industrial']], {}, { :class => 'form-control' }) %>
  	<%= f.label "Bodega" %><br>	
  	<%= f.select("bodega", [['Ramos Millan', 'ramos'], ['Texcoco', 'texcoco'], ['Veloz', 'veloz']], {} ,{class: "form-control"}) %><br>
    <%= f.label "Modelo" %><br>	
    <%= f.text_field "modelo", type: "text", class: "form-control" %>
    <%= f.label "UPC" %><br>	
    <%= f.text_field "upc", type: "text", class: "form-control" %>
    <%= f.label "Unidad de Medida" %><br>  
    <%= f.text_field "unidad_medida", class: "form-control" %>
    <%= f.label "Descripcion" %><br>
    <%= f.text_field "descripcion", type: "text", class: "form-control" %>
    <%= f.label "Compra" %><br>
    <%= f.text_field "compra", type: "text", class: "form-control" %>
    <%= f.label "Venta" %><br>	
    <%= f.text_field "p_venta", class: "form-control" %>
    <%= f.label "Cantidad" %><br>	
    <%= f.number_field "cantidad",  class: "form-control", step: :any %>	<br>	
    <%= f.submit "Crear", class: "btn btn-primary" %>
  <% end %>
</div>