
<h1 class="text-center">Embarques</h1>
<br><br>
<div class="row">
	<%=  link_to "Agregar embarque", new_embarque_path, class: "btn btn-outline-primary offset-sm-6 col-sm-2 "%>
</div>
<div class="row col-sm-12">

	<table class="table table-striped " style="background-color: #b3e6ff" id="myTable">
		<input type="text" class="form-control  col-sm-4" id="myInput" onkeyup="myFunction()" placeholder="Buscar.." title="Type in a name">

		<thead>
			<tr>
				<th scope="col">ID#</th>
	      <th scope="col"># Guia</th>
	      <th scope="col">Transportista</th>
	      <th scope="col"># Ordén</th>
	      <th scope="col">Destino</th>
	      <th scope="col">Cliente</th>
	      <th scope="col">Status</th>
	      <th scope="col">Update</th>
	      <th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<% if @embarques.empty? %>
				<h3 class="text-center">No hay embarques</h3>
			<% else %>
				<% @embarques.each do|item|%>
					<tr>
						<td scope="col"><%= item.id %></td>
						<td scope="col"><%= item.numero_guia %></td>
						<td scope="col"><%= item.transportista %></td>
						<td scope="col"><%= item.numero_orden %></td>
						<td scope="col"><%= item.destino %></td>
						<td scope="col"><%= item.cliente %></td>
						<td scope="col"><%= item.status %></td>
						<td scope="col"> <%= link_to "Update", edit_embarque_path(item), class: "btn btn-primary" %> </td>
						<td scope="col"> <%= link_to "Delete", embarque_path(item), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-primary"  %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>